flytekit>=1.8.1
git+https://github.com/flyteorg/furo@main
pillow
psycopg2-binary
flytekitplugins-deck-standard
flytekitplugins-kfpytorch
flytekitplugins-sqlalchemy
flytekitplugins-envd
jupytext
sphinx
sphinx_rtd_theme
sphinx-gallery
sphinx-prompt
sphinx-code-include
sphinx-autoapi
sphinx-copybutton
sphinxext-remoteliteralinclude
sphinx_fontawesome
sphinx-panels
sphinxcontrib-mermaid
sphinxcontrib-youtube
sphinx-tabs
astroid
grpcio
grpcio-status
myst-nb
ipython!=8.7.0
sphinx-tags
scikit-learn
torch