flytekit
pydata-sphinx-theme
fsspec<2023.10.0
mashumaro
pillow
psycopg2-binary
flytekitplugins-deck-standard
flytekitplugins-kfpytorch
flytekitplugins-sqlalchemy
jupytext
sphinx
sphinx-gallery
sphinx-prompt
sphinx-code-include
sphinx-autoapi
sphinx-copybutton
sphinx-reredirects
sphinxext-remoteliteralinclude
sphinx_fontawesome
sphinx-panels
sphinxcontrib-mermaid
sphinxcontrib-youtube
sphinx-tabs
astroid
grpcio
grpcio-status
myst-nb
ipython!=8.7.0
sphinx-tags==0.2.1
scikit-learn
torch
