numpy<2.0.0
flytekitplugins-airflow
flytekitplugins-athena
flytekitplugins-awsbatch
flytekitplugins-awssagemaker
flytekitplugins-bigquery
flytekitplugins-dask
flytekitplugins-dbt
flytekitplugins-deck-standard
flytekitplugins.dolt
flytekitplugins-duckdb
flytekitplugins-envd
flytekitplugins-great-expectations
flytekitplugins-hive
flytekitplugins-huggingface
flytekitplugins-pod
flytekitplugins-kfmpi
flytekitplugins-kfpytorch
flytekitplugins-kftensorflow
flytekitplugins-mlflow
flytekitplugins-mmcloud
flytekitplugins-modin
flytekitplugins-onnxpytorch
flytekitplugins-onnxscikitlearn
flytekitplugins-onnxtensorflow
flytekitplugins-openai
flytekitplugins-pandera
flytekitplugins-papermill
flytekitplugins-polars
flytekitplugins-pydantic
flytekitplugins-ray
flytekitplugins-snowflake
flytekitplugins-spark
flytekitplugins-sqlalchemy
flytekitplugins-vaex
flytekitplugins-whylogs
feast
xgboost
modin
dask[dataframe]
