-r ../../common/requirements-common.in
https://github.com/lyft/flytekit/archive/e6ad0b2b61fd6c746d5a2d8c10ad959c03648854.zip#subdirectory=plugins/kfpytorch&egg=flytekitplugins-kfpytorch
tensorboardX
torch
torchvision
