-r ../../../common/requirements-common.in
git+https://github.com/flyteorg/flytekit.git@b10d67a8fae15b1060a9b962f4e43dc65e30c891#subdirectory=plugins/flytekit-spark
pyspark
# flytekitplugins-spark>=0.16.0
