flytekit
flytekitplugins-kfpytorch
kubernetes
lightning
matplotlib
torch==2.2.1
tensorboardX
torchvision
# these are pinned to speed up the pip installer
adlfs==2024.4.1
gcsfs==2024.3.1
lightning==2.2.4
networkx==3.2.1
s3fs==2024.3.1
