# -r ../../../common/requirements-common.in
https://github.com/flyteorg/flytekit/archive/e3a61d194f3fd71628d993f44f8b753aae4b3954.tar.gz#subdirectory=plugins/flytekit-papermill&egg=flytekitplugins-papermill
matplotlib
seaborn
scikit-learn
pysocks