-r ../../../common/requirements-common.in
tensorflow==2.4.3
torch==1.4.1
keras==2.6.0
h5py==3.4.0
future==0.18.2
typing==3.7.4.3
torchvision==0.10.0
mxnet==1.8.0.post0
numpy==1.21.2
git+https://github.com/flyteorg/flytekit.git@2b974216ac6497f0064c3c14b3a8a0009757b57d#subdirectory=plugins/flytekit-kf-mpi
