[sdk]
workflow_packages=recipes
python_venv=flytekit_venv

[auth]
assumable_iam_role=arn:aws:iam::590375264460:role/eksctl-flyte-demo-2-addon-iamserviceaccount-Role1-L3MWX61Z9D93

[platform]
url=k8s-flyte-flytesys-f5f79a76fb-1416944135.us-east-2.elb.amazonaws.com

[aws]
s3_shard_formatter=s3://flyte-demo/{}/
s3_shard_string_length=2
