-r ../../../common/requirements-common.in
flytekitplugins-whylogs>=1.1.1b0
# TODO make sure this is actually necessary
whylogs[s3]  # had to add, because make serialize would crash due to "can't import" on whylogs writers
whylogs[mlflow]
whylogs[whylabs]
