[sdk]
# This option specifies the python packages where-in to search for workflows and tasks workflow packages. These workflows and tasks are then serialized during the `make serialize` commands
workflow_packages=flyte.workflows

[auth]
assumable_iam_role=arn:aws:iam::173840052742:role/flytefunctionaltestsbatchworker-production-iad
raw_output_data_prefix=s3://lyft-modelbuilder/cookbook
