-r ../../common/requirements-common.in

# flytekitplugins-hive==0.1.0
https://github.com/lyft/flytekit/archive/a965d02fe95f0c62576ddaa0d031c7613a63fd42.zip#subdirectory=plugins/hive&egg=flytekitplugins-hive
