-r ../../common/requirements-common.in
pyspark

# flytekitplugins-spark==0.1.0
https://github.com/lyft/flytekit/archive/82a0ac707bbc4203757a88a9fa9d33d63614540e.zip#subdirectory=plugins/spark&egg=flytekitplugins-spark
