-r ./common/requirements-common.in
flytekit>=1.3.0
git+https://github.com/flyteorg/furo@main
pillow
psycopg2-binary
flytekitplugins-kfpytorch
flytekitplugins-sqlalchemy
sphinx
sphinx_rtd_theme
sphinx-gallery
sphinx-prompt
sphinx-code-include
sphinx-autoapi
sphinx-copybutton
sphinxext-remoteliteralinclude
sphinx_fontawesome
sphinx-panels
sphinxcontrib-mermaid
sphinxcontrib-youtube
sphinx-tabs
astroid
grpcio
grpcio-status
myst-nb
ipython!=8.7.0
sphinx-tags
scikit-learn
torch
