-r ./common/requirements-common.in
git+https://github.com/flyteorg/furo@d5e59fbed8367b2d20d0295fd6a0651a0dc9315d
pillow
sphinx
sphinx_rtd_theme
sphinx-gallery
sphinx-prompt
sphinx-code-include
sphinx-autoapi
sphinx-copybutton
sphinxext-remoteliteralinclude
sphinx_fontawesome
sphinx-panels
sphinxcontrib-mermaid
sphinxcontrib-yt
sphinx-tabs
docutils
astroid
