-r ./common/requirements-common.in
git+https://github.com/flyteorg/furo@bafd6fa802e90fdcbcf43e703c7d6027848f16db
pillow
sphinx
sphinx_rtd_theme
sphinx-gallery
sphinx-prompt
sphinx-code-include
sphinx-autoapi
sphinx-copybutton
sphinxext-remoteliteralinclude
sphinx_fontawesome
sphinx-panels
sphinxcontrib-mermaid
sphinxcontrib-yt
sphinx-tabs
docutils
astroid
