[sdk]
workflow_packages=cookbook.sample_workflows
python_venv=service_venv

[auth]
assumable_iam_role=arn:aws:iam::173840052742:role/modelbuilderapibatchworker-development

[platform]
url=flyteadmin.flyte:81
insecure=True

[aws]
s3_shard_formatter=s3://lyft-modelbuilder/{}/
s3_shard_string_length=2
endpoint=http://minio.flyte:9000
access_key_id=minio
secret_access_key=miniostorage
