# Good: 193f68902ace07b82a58a181af3d01760b192fdc
https://github.com/lyft/flytekit/archive/976dba89ae9ba5c78440f7decc8979e7d00d0328.zip#egg=flytekit[sidecar,schema]
pytest
statsd
opencv-python
k8s-proto>=0.0.2
# TODO: Remove this - installing 1.28 (in Linux) for some reason is incredibly slow
grpcio==1.27.2
ipython
jupyter
