flytekit[sidecar,schema]==0.12.8
https://github.com/lyft/flytekit/archive/c78b571e2ed9dde4c491d53f12c9bdf9cd203083.zip#egg=flytekit[sidecar,schema]
pytest
statsd
opencv-python==3.4.4.19
k8s-proto>=0.0.2
# TODO: Remove this - installing 1.28 (in Linux) for some reason is incredibly slow
grpcio==1.27.2
ipython
jupyter
