https://github.com/lyft/flytekit/archive/74e47ccb462433371a0fa397e5104cc2a58a09a0.zip#egg=flytekit[schema,sidecar]
pytest
statsd
opencv-python==3.4.4.19
k8s-proto>=0.0.2
# TODO: Remove this - installing 1.28 (in Linux) for some reason is incredibly slow
grpcio==1.27.2
ipython
jupyter
