[sdk]
workflow_packages=recipes
python_venv=flytekit_venv

[auth]
assumable_iam_role=arn:aws:iam::111234567892:role/yourrole-development
raw_output_data_prefix=s3://my-s3-bucket/offloaded-data-storage

[platform]
url=host.docker.internal:30081
insecure=True

# Deprecated. Please use the raw_output_data_prefix above
# See https://github.com/lyft/flyte/issues/211 for more information and documentation.
[aws]
s3_shard_formatter=s3://my-s3-bucket/{}/
s3_shard_string_length=2
