[sdk]
workflow_packages=recipes
python_venv=flytekit_venv

[auth]
assumable_iam_role=arn:aws:iam::173840052742:role/modelbuilderapibatchworker-staging

[platform]
url=flyte-staging.lyft.net
insecure=False

[aws]
s3_shard_formatter=s3://lyft-modelbuilder/{}/
s3_shard_string_length=2

[credentials]
client_id=0oaai2nnqb29PvMvH1t7
redirect_uri=http://localhost:53593/callback
authorization_metadata_key=flyte-authorization
auth_mode=basic
