ul.simple {
    list-style: unset;
}

html .tabbed-set > label {
    color: var(--color-foreground-border);
}

html .tabbed-set > input:checked + label {
    border-color: var(--color-link);
    color: var(--color-link);
}

html .tabbed-set > label:hover {
    color: var(--color-link);
}

html .tabbed-content {
    box-shadow: 0 -.0625rem var(--color-background-border),0 .0625rem var(--color-background-border);
}

details.dropdown summary span.fa {
    padding-right: 3px;
}

details.dropdown summary {
    background: var(--color-background-secondary);
    color: var(--color-sidebar-link-text);
    border-radius: 4px !important;
}

details.dropdown[open] summary {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0 !important;
}

/* Hide "On GitHub" section from versions menu */
.rst-versions .rst-other-versions dl:nth-child(3) {
  display: none;
}

/* Flyte Deck custom style */
#flyte-frame-nav, #flyte-frame-container, #flyte-frame-tabs li.active {
    color: var(--color-content-foreground) !important;
}

div.cell_output #flyte-frame-container table {
    font-size: 0.8em;
    color: var(--color-content-foreground);
}

a.try-hosted-flyte {
    text-decoration: none;
    background: #fada78;
}

div.table-wrapper table {
    width: 100%;
}

div.table-wrapper span.fa {
    color: var(--color-link);
    margin-right: 10px;
    opacity: 0.25;
}

div.sphx-glr-footer {
    height: 0px;
    visibility: hidden;
}

p.tags span {
    font-weight: bold
}

p.tags a {
    background: var(--color-background-secondary);
    border: 1px solid var(--color-background-border);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.9em;
    margin-right: 5px;
}

p.tags span:not(:first-child) {
    display: none;
}
