name: Docs Build

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

on:
  push:
    branches:
      - master
#  pull_request:
#    branches:
#      - master
jobs:
  docs_warnings:
    name: Docs Warnings
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: "0"
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Report Sphinx Warnings
        id: sphinx-warnings
        # NOTE: myst-nb build warnings are logged in docs/_build/reports/*.err.log
        run: |
          sudo apt-get install python3-sphinx
          pip install -r docs-requirements.txt
          SPHINXOPTS="-W" cd docs && make html
          cat _build/reports/**/*.err.log || echo 'no error reports'
